<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Calificaciones</title>
    <!-- Puedes incluir enlaces a hojas de estilo CSS aquí -->
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
    <header>
        <!-- Contenido del encabezado aquí, como un menú de navegación -->
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/register-notes">Registro de Notas</a></li>
                <li><a href="/register-dates">Registro de Fechas para el Progreso</a></li>
               
            </ul>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <!-- Contenido del pie de página aquí -->
        <p>&copy; 2024 Gestor de Calificaciones</p>
    </footer>

    <!-- Scripts al final para una carga más rápida de la página -->
    <!-- Ejemplo: <script src="/js/script.js"></script> -->
</body>
</html>
