
<h2>Registrar Notas</h2>
<form action="/register-notes" method="post">
  <label for="estudiante">Estudiante:</label>
  <select id="estudiante" name="estudianteId" required>
    {{#each estudiantes}}
      <option value="{{this._id}}">{{this.nombre}}</option>
    {{/each}}
  </select>

  <label for="calificacion">Calificación:</label>
  <input type="number" id="calificacion" name="calificacion" required>

  <label for="fecha">Fecha:</label>
  <input type="date" id="fecha" name="fecha" required>

  <button type="submit">Guardar Nota</button>
</form>

<a href="/">Regresar al Home</a>
